.main {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
}
.heading {
  color: #ceb301;
  font-size: 3rem;
}
.image_section {
  flex: 1;
}
.image_container {
  img {
    width: 100%;
  }
}

.intro {
  flex: 1;
  padding-top: 100px;
  padding-left: 80px;

  // h2 {
  //   color: #3a4563;
  //   font-size: 2rem;
  // }
  p {
    margin-top: 10px;
    color: #7b889c;
    font-size: 1.2rem;
    // font-weight: 600;
  }
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #ceb301;
  border: none;
  border-radius: 5px;
  color: #ffff;
}

//mobile view
@media (max-width: 600px) {
  .main {
    max-width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .intro {
    padding: 0;
  }
  .heading {
    font-size: 2.5rem;
  }

  .btn {
    margin-bottom: 20px;
    padding: 8px 15px;
    font-size: 1rem;
    font-weight: 400;
  }
}
